/*----------Fuentes----------*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----------Variables----------*/
:root {
  /*fuente*/
  --fuenteLogo: "Krona One", sans-serif;
  --fuenteParrafo: "Poppins", sans-serif;

  /*fuente_tamaño*/
  --fuenteh1: 4rem;
  --fuenteh2: 3rem;
  --fuenteh3: 3rem;

  /*color*/
  --blanco: #ffffff;
  --gris: #d1d5db;
  --negro: #191825;
  --primario: #865dff;
  --secundario: #e384ff;
}

/*----------Configuraciones globales----------*/
html {
  box-sizing: border-box !important;
  font-size: 62.5% !important; /*ahora 1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit !important;
}

*::selection {
  background-color: var(--negro) !important;
  color: var(--primario) !important;
}

body {
  font-family: var(--fuenteParrafo) !important;
  font-size: 1.6rem !important;
  line-height: 2 !important;
  background-color: var(--blanco) !important;

  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--fuenteh1) !important;
}

h2 {
  font-size: var(--fuenteh2) !important;
}

h3 {
  font-size: var(--fuenteh3) !important;
}

li {
  list-style-type: none !important;
}

a,
a:visited {
  color: var(--primario) !important;
  text-decoration: none !important;
}

input {
  border-style: none;
  outline: none;
  padding: 5px;
}

input:focus {
  border-style: none;
  outline: none;
}

/*-------------------------------------------------HEADER-------------------------------------------------*/
.header_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  max-width: 100vw;
  background-color: var(--negro);
}

@media (min-width: 100px) {
  .header_container {
    padding: 0 2rem 2rem;
  }
}

@media (min-width: 1750px) {
  .header_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}

.header__logo {
  margin-top: 1rem;
  color: var(--primario);
  order: 1;
  font-family: var(--fuenteLogo);
  font-weight: bold;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .header__logo {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 7rem;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    font-size: 5rem;
  }
}

.nav__container {
  order: 1;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .nav__container {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .nav__container {
    width: 100%;
  }
}

@media (min-width: 1750px) {
  .nav__container {
    justify-content: space-around;
    gap: 0;
    padding: 0 2rem;
  }
}

.search__container {
  order: 2;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .search__container {
    width: auto;
    height: 6rem;
  }
}

@media (min-width: 768px) {
  .icoSize {
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 1024px) {
  .icoSize {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 1200px) {
  .icoSize {
    width: 4rem;
    height: 4rem;
  }

  .icoSize:hover {
    animation: navAnimation 1s linear 1 forwards;
  }
}
@media (min-width: 1750px) {
  .icoSize {
    width: 5rem;
    height: 5rem;
  }
}

.input__search {
  width: 70%;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .input__search {
    width: 80%;
    height: 5.8rem;
  }
}
@media (min-width: 1200px) {
  .input__search {
    width: 36rem;
    height: 4rem;
  }
}

/*-------------------------------------------------NAV-------------------------------------------------*/
.nav {
  order: 4;
  margin-top: 0.6rem;
  height: 10rem;
}

@media (min-width: 1200px) {
  .nav {
    order: 3;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dropdown {
  display: flex;
  align-items: center;
}

.nav__pc {
  display: none;
}

@media (min-width: 1200px) {
  .dropdown {
    display: none;
  }

  .nav__pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .nav__pc__enlaces {
    font-size: 1.7rem;
    height: 3rem;
    padding-bottom: 4rem;
  }

  @keyframes navAnimation {
    0% {
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
    }
    100% {
      border-bottom: 0.2rem solid rgba(255, 255, 255, 1);
    }
  }

  .nav__pc__enlaces:hover {
    animation: navAnimation 1s linear 1 forwards;
  }
}

@media (min-width: 1750px) {
  .nav__pc__enlaces {
    font-size: 2.3rem;
    padding-bottom: 4.5rem;
  }
}

a.nav__pc__enlacesActive {
  color: var(--blanco) !important;
}

.btn {
  background-color: var(--primario) !important;
  padding: 0.2rem 1.8rem 0.2rem 1.1rem !important;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.2rem 1rem 0.2rem 1rem !important;
    height: 5rem;
    width: 5rem;
  }
}
@media (min-width: 1024px) {
  .btn {
    height: 7rem;
    width: 7rem;
  }
}

.material-symbols-outlined {
  color: var(--primario);
}

@media (min-width: 768px) {
  .material-symbols-outlined {
    font-size: 4rem !important;
  }
}
@media (min-width: 1024px) {
  .material-symbols-outlined {
    font-size: 5rem !important;
  }
}

.material-symbols-outlinedActive {
  color: var(--blanco);
}

.dropdown-menu {
  background-color: var(--negro) !important;
}

@media (min-width: 760px) {
  .dropdown-menu {
    height: 28rem;
    width: 27rem;
    padding-left: 1.5rem !important;
    margin-top: 1rem !important;
  }
}
@media (min-width: 1024px) {
  .dropdown-menu {
    height: 35rem;
    width: 35rem;
  }
}

.dropdown-item {
  font-weight: bold !important;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.nav__list {
  padding: 1rem !important;
}

@media (min-width: 768px) {
  .nav__list {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .nav__list {
    font-size: 3rem;
  }
}

.nav__list:hover,
.material-symbols-outlined:hover,
.nav__list:hover,
.dropdown-item:hover,
.nav__list:focus,
.material-symbols-outlined:focus,
.nav__list:focus,
.dropdown-item:focus {
  background-color: var(--blanco) !important;
}

@media (min-width: 1200px) {
  .nav__list:hover,
  .material-symbols-outlined:hover,
  .nav__list:hover,
  .dropdown-item:hover,
  .nav__list:focus,
  .material-symbols-outlined:focus,
  .nav__list:focus,
  .dropdown-item:focus {
    background-color: var(--negro) !important;
    border-bottom: 0.2rem solid var(--blanco);
  }
}

.carritoUsuario {
  display: flex;
  justify-content: center;
  align-items: center;
  order: 3;
  gap: 2rem;
}

@media (min-width: 768px) {
  .carritoUsuario {
    gap: 3rem;
  }
}
@media (min-width: 1024px) {
  .carritoUsuario {
    gap: 4rem;
  }
}
@media (min-width: 1200px) {
  .carritoUsuario {
    gap: 2rem;
  }
}
/*-------------------------------------------------FOOTER-------------------------------------------------*/
.footer__container {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  max-width: 100vw;
}

@media (min-width: 1200px) {
  .footer__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr;
    gap: 0;
  }

  .footer__container > .header__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 auto;
    padding: 0;
  }
}

.footer__socialmedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  order: 3;
}

@media (min-width: 1200px) {
  .footer__socialmedia {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

a.footer__medialinks {
  color: var(--secundario) !important;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  a.footer__medialinks {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  a.footer__medialinks {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  a.footer__medialinks {
    font-size: 2.5rem;
  }
}

.footer__p {
  color: var(--secundario);
  order: 2;
}

@media (min-width: 768px) {
  .footer__p {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__p {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .footer__p {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
    padding-top: 0;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  order: 4;
}

@media (min-width: 768px) {
  .footer__info {
    font-size: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .footer__info {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .footer__info {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    flex-direction: row;
    justify-content: space-around;
    padding: 10rem 0 0;
    font-size: 2.5rem;
  }
}

/*--------------------------------------------------------------INDEX.HTML--------------------------------------------------------------*/
.main__containerIndex {
  grid-row: 2 / 3;

  width: 100%;
  height: auto;
  padding: 3rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__img {
  background-image: url(../assets/img/bannerHeader.webp);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.3);
  opacity: 1;
  width: 80%;
  height: 20rem;
}

.productos__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.productos__titulo {
  border-bottom: 0.3rem solid var(--secundario);
  margin-bottom: 2rem;
}

.carousel-inner {
  width: 30rem !important;
  height: 30rem !important;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--primario) !important;
  border-radius: 2rem;
  height: 4rem;
  margin-top: 8rem;
}
/*--------------------------------------------------------------INDEX.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------INICIOSESION.HTML--------------------------------------------------------------*/
.main_containerIS,.main_containerRE {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .main_containerIS {
    height: 70rem;
  }

  .main_containerRE {
    height: 120rem;
  }
}

@media (min-width: 1280px){
  .main_containerRE {
    height: 100rem;
  }
 }

@media (min-width: 1750px) {
  .main_containerRE {
    height: 100rem;
}
}
.main_containerIS > h1, .main_containerRE > h1 {
  border-bottom: 0.5rem solid var(--secundario);
  border-radius: 5px;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input__container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (min-width: 768px) {
  .input__container {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .input__container {
    font-size: 2rem;
  }
}

.input {
  border: 1px solid var(--gris);
}

.input:focus {
  border: 1px solid var(--secundario);
  box-shadow: 0 0.2rem 0.5rem var(--secundario);
}

.myButton {
  background-color: var(--primario);
  color: var(--blanco);
  border-style: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-size: var(--fuenteParrafo);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .myButton {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .myButton {
    font-size: 2rem;
  }
}

@keyframes buttonAnimation {
  0% {
    background-color: var(--primario);
  }
  100% {
    background-color: var(--secundario);
  }
}
.myButton:hover {
  animation: buttonAnimation 0.3s linear 1 forwards;
}

.alternativa__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .alternativa__container {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .alternativa__container {
    font-size: 2rem;
  }
}

.alternativa__enlace:hover {
  color: var(--secundario) !important;
}

.terms__container {
  display: flex;
  flex-direction: column;
}

.terms {
  display: flex;
  gap: 1rem;
}
/*--------------------------------------------------------------REGISTRO.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------SOBRENOSOTROS.HTML--------------------------------------------------------------*/
.main__containerUs {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo__us {
  border-bottom: 0.3rem solid var(--secundario);
  border-radius: 5px;
}

.article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
  margin-top: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__title {
  order: 1;
}

.article__p {
  order: 2;
}

.article__img {
  order: 3;
  width: 100%;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: 1rem;
}

.map {
  max-width: 100%;
  height: 30rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: 2rem;
}
/*--------------------------------------------------------------SOBRENOSOTROS.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------CARRITO.HTML--------------------------------------------------------------*/
.main__containerCart {
  width: 100vw;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.carritos {
  padding: 2rem;
  max-width: 100%;
}

.carrito__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carrito {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr auto auto;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

.img__carrito {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: auto;
}

.info__containerCarrito {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cantidad___carrito {
  display: flex;
}

.input__carrito {
  width: 5rem;
  height: 3rem;
  text-align: center;
  border: 0.1rem solid var(--gris);
  margin: 0 1rem;
}

.borrar_producto {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.finalizarCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo__compra {
  border-bottom: 0.5rem solid var(--secundario);
  border-radius: 5px;
  margin-bottom: 2rem;
  width: auto;
}

.codigoPostal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.finalizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.total {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*--------------------------------------------------------------CARRITO.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------COMPUTACION---------------------------------------------------------------------*/

.conteiner_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.filtros_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 10px 40px;
}

.contenedor_productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.producto_compu {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .producto_compu {
    display: inline;
  }
}
/*--------------------------------------------------------------COMPUTACION---------------------------------------------------------------------*/

/*----------------------------------------------------------------MOVILES-----------------------------------------------------------------------*/

.conteiner_movil {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.filtros_movil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 10px 40px;
}

.productos_moviles {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.movil {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .movil {
    display: inline;
  }
}
/*----------------------------------------------------------------MOVILES-----------------------------------------------------------------------*/

/*----------------------------------------------------------------MOVILES-----------------------------------------------------------------------*/

.conteiner_tv {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.filtros_tv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 10px 40px;
}

.productos_tv {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}

.tv {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 2rem;
}

