/*----------Fuentes----------*/
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*----------Variables----------*/
:root {
  /*fuente*/
  --fuenteLogo: "Krona One", sans-serif;
  --fuenteParrafo: "Poppins", sans-serif;

  /*fuente_tamaño*/
  --fuenteh1: 4rem;
  --fuenteh2: 3rem;
  --fuenteh3: 3rem;

  /*color*/
  --blanco: #ffffff;
  --gris: #d1d5db;
  --negro: #191825;
  --primario: #865dff;
  --secundario: #e384ff;
}

/*----------Configuraciones globales----------*/
html {
  box-sizing: border-box !important;
  font-size: 62.5% !important; /*ahora 1rem = 10px*/
}

*,
*:before,
*:after {
  box-sizing: inherit !important;
}

*::selection {
  background-color: var(--negro) !important;
  color: var(--primario) !important;
}

body {
  font-family: var(--fuenteParrafo) !important;
  font-size: 1.6rem !important;
  line-height: 2 !important;
  background-color: var(--blanco) !important;

  margin: 0 !important;
  padding: 0 !important;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--fuenteh1) !important;
}

h2 {
  font-size: var(--fuenteh2) !important;
}

h3 {
  font-size: var(--fuenteh3) !important;
}

li {
  list-style-type: none !important;
}

a,
a:visited {
  color: var(--primario) !important;
  text-decoration: none !important;
}

input {
  border-style: none;
  outline: none;
  padding: 5px;
}

input:focus {
  border-style: none;
  outline: none;
}

/*-------------------------------------------------HEADER-------------------------------------------------*/
.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  background-color: var(--negro);
  position: sticky;
  top: 0;
}

@media (min-width: 100px) {
  .header_container {
    padding: 0 2rem 2rem;
  }
}

@media (min-width: 1750px) {
  .header_container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}

.header__logo {
  margin-top: 1rem;
  color: var(--primario);
  order: 1;
  font-family: var(--fuenteLogo);
  font-weight: bold;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .header__logo {
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 7rem;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    font-size: 5rem;
  }
}

.nav__container {
  order: 1;
  padding: 0 3rem;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .nav__container {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .nav__container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

@media (min-width: 1750px) {
  .nav__container {
    justify-content: space-around;
    gap: 0;
    padding: 0 2rem;
  }
}

.search__container {
  order: 2;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .search__container {
    width: auto;
    height: 6rem;
  }
}

.icoSize {
  fill: var(--primario);
}

.icoSize:hover {
  fill: var(--blanco);
}

@media (min-width: 768px) {
  .icoSize {
    width: 5rem;
    height: 5rem;
  }
}
@media (min-width: 1024px) {
  .icoSize {
    width: 7rem;
    height: 7rem;
  }
}
@media (min-width: 1200px) {
  .icoSize {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 1750px) {
  .icoSize {
    width: 5rem;
    height: 5rem;
  }
}

.input__search {
  width: 100%;
  border-radius: 10px;
  height: 4rem;
}

@media (min-width: 1024px) {
  .input__search {
    width: 80%;
    height: 5.8rem;
  }
}
@media (min-width: 1200px) {
  .input__search {
    width: 40rem;
    height: 4rem;
  }
}
@media (min-width: 1750px) {
  .input__search {
    width: 50rem;
  }
}

.header__ico {
  stroke: var(--primario);
}

.header__ico:hover {
  stroke: var(--blanco);
}

@media (min-width: 768px) {
  .header__ico {
    width: 4rem;
    height: 4rem;
  }
}
@media (min-width: 1024px) {
  .header__ico {
    width: 6rem;
    height: 6rem;
  }
}
@media (min-width: 1200px) {
  .header__ico {
    width: 3rem;
    height: 3rem;
  }
}
@media (min-width: 1750px) {
  .header__ico {
    width: 4rem;
    height: 4rem;
  }
}

.header__ico--active {
  stroke: var(--blanco);
}
/*-------------------------------------------------NAV-------------------------------------------------*/
.nav {
  order: 4;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1200px) {
  .nav {
    order: 3;
    width: 50%;
  }
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  max-height: fit-content;
  top: 0;
  left: 0;
  transition: all 50ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 15 !important;
}

#btn-menu,
#btn-bootstrap {
  display: none;
}

#btn-menu:checked ~ .container-menu {
  opacity: 1;
  visibility: visible;
}

.nav__span {
  margin-left: 2rem;
}

.cont-menu {
  width: 100%;
  max-width: 250px;
  height: 100vh;
  background-color: #1c1c1c;
  position: relative;
  transition: all 50ms ease;
  transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
  transform: translateX(0%);
}

#btn:checked > #carouselExample1,
#btn:checked > #carouselExample2 {
  position: relative;
  z-index: -1;
}

.cont-menu__container {
  transform: translateY(15%);
}

.cont-menu__enlaces {
  display: flex;
  padding: 2rem;
  border-left: 0.5rem solid transparent;
  transition: all 50ms ease;
  color: var(--primario);
  align-items: center;
}

.cont-menu__enlaces:hover {
  border-left: 0.5rem solid var(--blanco);
  background-color: #1f1f1f;
}

.cont-menu__enlaces:hover > .nav__ico {
  stroke: var(--blanco);
}

.cont-menu__enlaces:hover > .nav__span {
  color: var(--blanco);
}

.nav__ico--active {
  stroke: var(--blanco);
}

.nav__span--active {
  color: var(--blanco);
}

.cont-menu__label {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
}

.btn-menu {
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .btn-menu {
    display: none;
  }
}

.btn-menu__entrar > svg {
  width: 3rem;
  height: 3rem;
}
@media (min-width: 768px) {
  .btn-menu__entrar > svg {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1024px) {
  .btn-menu__entrar > svg {
    width: 7rem;
    height: 7rem;
  }
}

.icon {
  color: var(--primario);
  cursor: pointer;
}

@keyframes iconAnimation {
  0% {
    fill: var(--primario);
  }
  100% {
    fill: var(--blanco);
  }
}
.icon:hover {
  animation: iconAnimation 500ms linear 1s forwards;
}

.nav__pc {
  display: none;
}

@media (min-width: 1200px) {
  .nav__pc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }

  .nav__pc__enlaces {
    font-size: 1.7rem;
    height: 3rem;
    padding-bottom: 4rem;
  }

  @keyframes navAnimation {
    0% {
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
    }
    100% {
      border-bottom: 0.2rem solid rgba(255, 255, 255, 1);
    }
  }

  .nav__pc__enlaces:hover {
    animation: navAnimation 200ms linear 1 forwards;
    color: var(--blanco) !important;
  }
}

@media (min-width: 1750px) {
  .nav__pc__enlaces {
    font-size: 2.3rem;
    padding-bottom: 4.5rem;
  }
}

.nav__pc > .nav__pc__enlaces--active {
  color: var(--blanco) !important;
}

.carritoUsuario {
  display: none;
}

@media (min-width: 1200px) {
  .carritoUsuario {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 3;
    gap: 3rem;
    gap: 2rem;
  }
}
/*-------------------------------------------------FOOTER-------------------------------------------------*/
.footer__container {
  background-color: var(--negro);
  color: var(--blanco);
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 3rem;

  max-width: 100vw;
}

@media (min-width: 1200px) {
  .footer__container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    padding: 2rem 0 2rem 2rem;
  }

  .footer__container > .footer__logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin: 0 auto;
    padding: 0;
  }

  .header__logo--Mod {
    font-size: 3rem;
  }
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__span {
  color: var(--secundario);
  order: 2;
}

@media (min-width: 768px) {
  .footer__span {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .footer__span {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  .footer__span {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: -1rem;
    padding-top: 0;
    font-size: 1.5rem;
  }
}

.footer__secciones {
  display: flex;
  gap: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 1200px) {
  .footer__secciones {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    justify-content: space-evenly;
    align-items: start;
  }
}

.footer__seccion-titulo,
.footer__seccion-titulo:hover {
  color: var(--primario);
}

.footer__ico-span {
  color: var(--blanco);
  margin-left: 1rem;
}

.footer__ico-span:hover {
  color: var(--gris);
}

.footer__socialmedia {
  display: flex;
  flex-direction: column;
  align-items: start;
  order: 3;
}

@media (min-width: 1200px) {
  .footer__socialmedia {
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  order: 4;
}

@media (min-width: 768px) {
  .footer__info {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .footer__info {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .footer__info {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    font-size: 1.5rem;
  }
}

.footer__enlaces {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.footer__ico-p:hover {
  color: var(--gris);
  cursor: pointer;
}

/*--------------------------------------------------------------INDEX.HTML--------------------------------------------------------------*/
.main__containerIndex {
  grid-row: 2 / 3;
  width: 100%;
  height: auto;
  padding: 0 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-container {
  margin: 2rem;
}

.banner {
  width: 100%;
}

@media (min-width: 1280px) {
  .banner {
    width: 100%;
  }
}

.slider-frame {
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider-frame__container {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slideAnimation 16s infinite alternate ease-in-out;
}

@keyframes slideAnimation {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
}

.slider-frame__li {
  list-style: none;
  width: 100%;
}

.slider-frame__img {
  width: 100%;
}

@media (min-width: 1280px) {
  .productos-containerMain {
    display: flex;
    gap: 40rem;
  }
}

.productos__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.productos__titulo {
  border-bottom: 0.3rem solid var(--secundario);
  margin-bottom: 2rem;
  font-weight: bold;
}

.carousel-inner {
  width: 30rem !important;
  height: 30rem !important;
}

#carouselExample1,
#carouselExample2 {
  position: relative;
  z-index: -1;
}

@media (min-width: 1280px) {
  #carouselExample1,
  #carouselExample2 {
    position: relative;
    z-index: -1;
  }
}

.suscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 6rem 0;
}

.suscripcion__container {
  display: flex;
}

.suscripcion__title {
  text-align: center;
}

.suscripcion__input,
.suscripcion__input:focus {
  border-bottom: 1px solid var(--gris);
  width: 15rem;
  text-align: center;
}

@media (min-width: 780px) {
  .suscripcion__input {
    width: auto;
  }
}
/*--------------------------------------------------------------INDEX.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------INICIOSESION.HTML--------------------------------------------------------------*/
.main_containerIS,
.main_containerRE {
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.main_containerIS > h1,
.main_containerRE > h1 {
  border-bottom: 0.5rem solid var(--secundario);
  border-radius: 5px;
  margin-bottom: 2rem;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .info-container {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }
}
@media (min-width: 1200px) {
  .info-container {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
  }
}
.input__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--primario);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  .input__container {
    font-size: 3rem;
  }
}
@media (min-width: 1280px) {
  .input__container {
    font-size: 2rem;
  }
}
@media (min-width: 1750px) {
  .input__container {
    font-size: 2.5rem;
  }
}

.input {
  border: 1px solid var(--gris);
  width: 30rem;
  height: 6rem;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .input {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .input {
    height: 4rem;
    font-size: 2rem;
  }
}
@media (min-width: 1750px) {
  .input {
    width: 30rem;
    height: 5rem;
    font-size: 2rem;
  }
}

.input:focus {
  outline: 2px solid var(--secundario);
}

.input__select {
  border: 1px solid var(--gris);
}

.input__select:focus {
  outline: none;
  border: 1px solid var(--secundario);
  outline: 2px solid var(--secundario);
  padding: 0;
}

.myButton {
  background-color: var(--primario);
  color: var(--blanco);
  border-style: none;
  border-radius: 3rem;
  padding: 1rem 2rem;
  font-size: var(--fuenteParrafo);
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .myButton {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .myButton {
    font-size: 2rem;
  }
}

@keyframes buttonAnimation {
  0% {
    background-color: var(--primario);
  }
  100% {
    background-color: var(--secundario);
  }
}
.myButton:hover {
  animation: buttonAnimation 0.3s linear 1 forwards;
}

.alternativa__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .alternativa__container {
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .alternativa__container {
    font-size: 2rem;
  }
}

.alternativa__enlace:hover {
  color: var(--secundario) !important;
}

.terms__container {
  display: flex;
  flex-direction: column;
}

.terms {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .terms {
    font-size: 2rem;
  }
}
/*--------------------------------------------------------------REGISTRO.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------SOBRENOSOTROS.HTML--------------------------------------------------------------*/
.main__containerUs {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.titulo__us {
  border-bottom: 0.3rem solid var(--secundario);
  border-radius: 5px;
  font-weight: bold;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
@media (min-width: 1024px) {
  .article {
    flex-direction: row;
    gap: 1rem;
  }

  .article--2 {
    flex-direction: row-reverse;
  }
}

.article__container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 1750px) {
  .article__container {
    margin: 0 auto;
    width: 30%;
  }
}

.article__title {
  color: var(--primario);
  text-align: center;
  font-weight: bold;
}

.article__p {
  margin-bottom: 2rem;
}

.article__img {
  width: 100%;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .article__img {
    width: 30%;
  }
}
@media (min-width: 1750px) {
  .article__img {
    width: 25%;
  }
}

.infoSobreNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .infoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .infoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1750px) {
  .infoSobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
}

.infoSobreNosotros__titulo {
  margin: 3rem 0;
  border-bottom: 0.4rem solid var(--secundario);
  border-radius: 2px;
  line-height: 4rem;
  text-align: center;
}

.infoSobreNosotros__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

@media (min-width: 1280px) {
  .infoSobreNosotros__container {
    width: 100%;
    flex-direction: row;
  }
}

.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  padding: 0 3rem;
  width: 100%;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .contacto {
    padding: 2rem 4rem;
  }
}

@media (min-width: 1750px) {
  .contacto {
    width: auto;
  }
}

@media (min-width: 768px) {
  .contacto__container {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

@media (min-width: 1750px){
  .contacto__container {
    gap: 1rem;
  }
 }

.contacto__rellenar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: auto;
}
@media (min-width: 768px) {
  .contacto__rellenar:first-of-type {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .contacto__rellenar:nth-of-type(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .contacto__rellenar:nth-of-type(3) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .contacto__rellenar:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .contacto__rellenar:nth-of-type(5) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .contacto__rellenar:last-of-type {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
  }
}

.contacto__label {
  font-size: 2rem;
  color: var(--primario);
  font-weight: bold;
}

@media (min-width: 1750px){
  .contacto__label {
    font-size: 1.5rem;
  } 
 }

.contacto__input {
  border: 0.1rem solid var(--gris);
  outline: none;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 25rem;
  height: 4rem;
}

@media (min-width: 1750px) {
  .contacto__input {
    width: 30rem;
  font-size: 1.5rem;
  }
}

.contacto__input:hover,
.contacto__input:focus {
  border: 0.1rem solid var(--secundario);
  outline: none;
}

.contacto__input--textarea {
  height: 32rem;
}
@media (min-width: 768px) {
  .contacto__input--textarea {
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .contacto__input--textarea {
    height: 20rem;
  }
}
@media (min-width: 1750px){
  .contacto__input--textarea {
    height: 15rem;
  } 
 }

.contacto__checkbox {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  gap: 1rem;
}

@media (min-width: 1750px){
  .contacto__checkbox {
    margin: 1rem;

  }
 }

@media (min-width: 1750px){
  .contacto__checkbox__label{
    font-size: 1.5rem;
  }
 }

.contacto__enviar {
  background-color: var(--primario);
  color: var(--blanco);
  width: 10rem;
  height: 4rem;
  font-size: 1.7rem;
}
.contacto__enviar:hover {
  cursor: pointer;
  animation: buttonAnimation 0.3s linear 1 forwards;
}

.mapContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 1280px) {
  .mapContainer__info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}

.mapContainer__span {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primario);
}

.mapContainer__a {
  font-size: 2rem !important;
}

.map {
  width: 100%;
  height: 30rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  margin: 2rem;
}

@media (min-width: 1024px) {
  .map {
    height: 50rem;
  }
}

@media (min-width: 1280px) {
  .map {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1750px) {
  .map {
    width: 100%;
  }
}
/*--------------------------------------------------------------SOBRENOSOTROS.HTML--------------------------------------------------------------*/

/*--------------------------------------------------------------CARRITO.HTML--------------------------------------------------------------*/
.main__containerCart {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 1280px) {
  .main__containerCart {
    flex-direction: row;
    align-items: start;
  }
}

.carritos {
  padding: 2rem;
  max-width: 100%;
}

@media (min-width: 1280px) {
  .carritos {
    display: flex;
    width: 100%;
  }
}

.carrito__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 758px) {
  .carrito__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 5rem;
  }
}
@media (min-width: 1280px) {
  .carrito__container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.carrito {
  max-width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;
  border-radius: 2rem;
}

@media (min-width: 1280px) {
  .carrito {
    display: flex;
    width: 80%;
    justify-content: start;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.3);
    padding-right: 3rem;
  }

  .carrito:hover {
    box-shadow: 0 0.1rem 0.8rem var(--secundario);
  }
}

.carrito__container-img {
  height: 15rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 1280px) {
  .carrito__container-img {
    width: 26rem;
  }
}

.img__carrito {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 100%;
}

.info__containerCarrito {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1280px) {
  .info__containerCarrito {
    width: 50%;
    align-items: start;
    padding: 2rem;
  }
}

@media (min-width: 128px) {
  .h2--carrito {
    font-size: 2rem !important;
  }
}

.cantidad___carrito {
  display: flex;
}

.input__carrito {
  width: 5rem;
  height: 3rem;
  text-align: center;
  border: 0.1rem solid var(--gris);
  margin: 0 1rem;
}

.borrar_producto {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
@media (min-width: 1280px) {
  .borrar_producto {
    flex-direction: column;
    gap: 8rem;
  }
}

.finalizarCompra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.envio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo__compra {
  border-bottom: 0.5rem solid var(--secundario);
  border-radius: 5px;
  margin-bottom: 2rem;
  width: auto;
  font-weight: bold;
}

.codigoPostal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input--carrito {
  width: 80%;
}

.finalizar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.total {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myButton--carrito {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .myButton--carrito {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .myButton--carrito {
    font-size: 1.5rem;
  }
}
/*--------------------------------------------------------------CARRITO.HTML--------------------------------------------------------------*/

/*---------------------------------------------------------COMPUTACION--MOVIL--TV----------------------------------------------------------------*/

.conteiner_main {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}
.section_filtros {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem;
  gap: 20px;
  text-align: left;
  background-color: var(--primario);
  font-size: small;
  align-items: start;
  width: auto;
}

.filtros_div {
  color: var(--blanco);
}

.filtros_div__texto:hover {
  color: var(--gris);
}

.ordenarPor {
  margin-top: 3rem;
}
@media (min-width: 1280px) {
  .ordenarPor {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}

.contenedor_productos {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-x: hidden;
  justify-content: space-between;
}
p {
  font-size: large;
}
p:hover {
  color: var(--activarbutton);
}
.productos__button {
  border: none;
  background: var(--primario);
  margin: 0 auto;
  width: 20rem;
}
.productos__button:hover {
  animation: buttonAnimation 0.3s linear 1 forwards;
  color: var(--blanco);
  cursor: pointer;
}
.productos__button > a {
  color: var(--blanco) !important;
}

.productos {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

@media (min-width: 768px) {
  .conteiner_main {
    display: flex;
    flex-direction: row;
  }
  .section_filtros {
    display: flex;
    flex-direction: column;
  }
  .contenedor_productos {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "div";
  }
  .productos {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 20px;
  }
}

.productos__precio {
  font-weight: bold;
}

@media (min-width: 1024px) {
  .contenedor_productos {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: "div div ";
  }
  .productos {
    display: flex;
    overflow-x: hidden;
    justify-content: space-between;
    gap: 20px;
  }
}
@media (min-width: 1280px) {
  .contenedor_productos {
    display: flex;
    display: grid;
    grid-template-areas: "div div div";
    justify-content: center;
    margin: 10px;
  }
}
/*---------------------------------------------------------COMPUTACION--MOVIL--TV----------------------------------------------------------------*/
